# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual Environments
.env
.venv/
env/
venv/

# Environment Variables
.env

# Jupyter Notebook Checkpoints
.ipynb_checkpoints

# VSCode
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Streamlit
.streamlit/

# Database Files
*.sqlite3
*.db

# System Files
Thumbs.db
